<div class="container">

  <h1 class="mt-3"> BlogPosts Lists</h1>
  <div class="d-flex justify-content-end mt-3 mb-3">
    <a [routerLink]="['/admin/blogposts/add']" class="btn btn-primary">
      Add Blogpost
    </a>
  </div>
  <ng-container *ngIf="blogPosts$ | async as blogPosts">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Short Description</th>
          <th>Is Visible?</th>
          <th>Categories</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bp of blogPosts">
          <td>{{bp.title}}</td>
          <td>{{bp.shortDescription}}</td>
          <td>{{bp.isVisible}}</td>
          <td>
            <span *ngFor="let category of bp.categories">
              <span class="badge bg-secondary">{{category.name}}</span>
            </span>
          </td>
          <td>
            <a class="btn btn-warning" [routerLink]="['/admin/blogposts',bp.id]">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
